name: Flutter Android Release

on:
  push:
    tags:
      - "v*"

jobs:
  build-android:
    name: Build Android APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter pub get
        run: flutter pub get
        working-directory: frontend

      - name: Build APK
        run: flutter build apk --release
        working-directory: frontend

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: frontend/build/app/outputs/flutter-apk/app-release.apk

  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: [build-android]

    steps:
      - uses: actions/checkout@v3

      - name: Download Android Artifact
        uses: actions/download-artifact@v4
        with:
          name: android-apk
          path: android/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            android/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
